In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [4]:
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [45]:
pd.DataFrame(df.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned']).sort_values('fuel_cost_per_unit_burned')

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
gas                                  13.659397
other                                18.253856
waste                                19.518122
coal                                 67.421830
oil                                 168.877086
nuclear                            4955.157002

What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [46]:
df.describe()['fuel_mmbtu_per_unit']

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [15]:
df.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [16]:
df.kurt()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [18]:
df.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [19]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [20]:
df.shape

(29523, 11)

In [21]:
(180/29523)* 100

0.609694136774718

The feature with missing values falls under what category? What missing value imputation technique would you use?

In [24]:
df.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [34]:
pd.DataFrame(df.corr()['fuel_cost_per_unit_burned']).sort_values('fuel_cost_per_unit_burned')

                              fuel_cost_per_unit_burned
utility_id_ferc1                              -0.037863
fuel_qty_burned                               -0.018535
fuel_mmbtu_per_unit                           -0.010034
fuel_cost_per_mmbtu                           -0.000437
fuel_cost_per_unit_delivered                   0.011007
report_year                                    0.013599
fuel_cost_per_unit_burned                      1.000000

For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [38]:
df[df['fuel_type_code_pudl']=='coal'].groupby('report_year').sum()['fuel_cost_per_unit_burned']

report_year
1994     14984.572
1995     14571.785
1996     12694.803
1997     43742.178
1998     11902.597
1999     16303.468
2000    100428.831
2001     15109.012
2002      9171.164
2003     30954.110
2004      9632.063
2005     11107.182
2006     12402.684
2007     12965.171
2008     14331.348
2009     45554.858
2010     88627.745
2011     17001.015
2012     17546.097
2013     17629.860
2014     15412.197
2015     13338.235
2016     11100.925
2017     10254.284
2018      9488.197
Name: fuel_cost_per_unit_burned, dtype: float64

In [40]:
((11902.597-14984.572)/14984.572) * 100

-20.567654518260518

Which year has the highest average fuel cost per unit delivered?

In [43]:
pd.DataFrame(df.groupby('report_year').mean()['fuel_cost_per_unit_delivered']).sort_values('fuel_cost_per_unit_delivered',ascending=False)

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239
1996                          9196.705948
2000                           985.362877
2009                           652.694163
2018                           499.269966
2015                           326.535511
1998                           287.154420
2014                           192.737183
2013                           172.307591
2004                           139.524275
2016                           103.901761
2010                            91.862105
1994                            63.636060
2012                            60.994502
2001                            60.050396
2011                            59.774667
2008                            58.588197
2003                            55.663493
2002                            47.594361
2017                            46.196861
2007                            43.325023
2005                            41.438184
2006                            38.657484
1995                            32.735269
1999                            25.551627