In [1]:
import pandas as pd

In [25]:
df=pd.read_csv('/content/drive/MyDrive/energydata_complete (1).csv')

In [91]:
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [ ]:
df.isnull().sum()

In [27]:
df.drop(['date', 'lights'], axis=1, inplace=True)

In [92]:
X=df['T2']
Y=df['T6']

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [94]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
sc=MinMaxScaler()
X_train=np.array(X_train)
X_test=np.array(X_test)
X_train=X_train.reshape(-1, 1)
X_test=X_test.reshape(-1, 1)
X_train= sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [95]:
from sklearn.linear_model import LinearRegression
Lr=LinearRegression()

In [96]:
Lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [97]:
Lr.score(X_test, y_test)

0.6427789637197382

In [98]:
X=df.drop('Appliances', axis=1)
Y=df['Appliances']

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [100]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [101]:
Lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [102]:
from sklearn.metrics import mean_absolute_error
y_pred=Lr.predict(X_test)
mean_absolute_error(y_test, y_pred)

53.642977655849585

In [103]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

93.64046093998029

In [104]:
Lr.score(X_test, y_test)

0.14890246319303535

In [105]:
Lr.coef_

array([  -3.51072478,  495.52601962, -252.710373  , -469.52136238,
        310.97103712,  102.77165244,   31.00966845,   27.31182902,
        -16.75282177,   17.03563561,  252.71692835,   40.7120577 ,
         11.00293428,  -47.56355153,  109.13469841, -168.62716102,
       -203.23662712,  -42.58633878, -344.3898449 ,    7.31524276,
        -83.1075989 ,   31.22594824,   13.16807161,  125.43063708,
          0.82386956,    0.82386956])

In [106]:
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=0.4)
ridge.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [107]:
y_pred=ridge.predict(X_test)

In [108]:
mean_squared_error(y_test, y_pred, squared=False)

93.66003653920392

In [109]:
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=0.001)
lasso.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [110]:
lasso.coef_

array([  -4.05585856,  494.32619407, -249.63865276, -465.82104986,
        310.20015553,  102.17247227,   30.34420541,   26.56058062,
        -17.1130125 ,   17.01355581,  249.83361984,   40.09096313,
         10.30491756,  -47.20961004,  108.879691  , -168.69793662,
       -202.48080861,  -42.44605292, -332.57356496,    7.28122335,
        -77.98877912,   31.38802504,   13.07813126,  118.06259364,
          1.63099462,    0.        ])

In [111]:
y_pred=lasso.predict(X_test)
mean_squared_error(y_test, y_pred, squared=False)

93.6406727479042